version: "3.9"

services:
  mysql:
    image: mysql:8.0
    container_name: mysql-container
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: db
      MYSQL_USER: user  
      MYSQL_PASSWORD: pass
    ports:
      - "3336:3306"
    volumes:
      - mysql_data:/var/lib/mysql

volumes:
  mysql_data:

  # docker compose down - просто зупинити бд
  # docker compose up -d - запустити бд

  
  # docker compose down -v - зупинити бд і видалити томи